body{
    font-family: font-family: 'Poppins', sans-serif; 
   margin:0;
}
section{
    height: 500px;
    padding-bottom: 100px;
}

.hero-section{
    background-image: url(image/hero5.jpg);
    background-position:left;
    background-repeat: no-repeat;
    background-size: 10%;
    padding: top 2%;;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}

h1{
    font-size: 50px;
}

.name-highlight{
    color: hotpink;
}

.half-width img{
    width: 100%; 
}

.half-width p{
    padding-bottom: 2%;
}

.anchor-button{
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 600;
   color: white;
   background:linear-gradient(45deg, green,red);
   padding: 12px 30px;
   border-radius: 15px;
}

.dream-section{
   background: url('image/hero-section.jpg');
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: 28%;
}
h2{
    font-size: 50px;
    font-weight: 600r;
}
.experience-section{
    background-image: url(image/hero.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
    border-radius: 100%;

}
.single-experience{
   box-shadow:10px 10px 40px grey;
   hight:20%;
   width: 34%;
 
}
#full-stack{
  border-left:7px solid;
  border-image:linear-gradient(180deg, hotpink,red);
  border-image-slice: 2; 
}
#front-end{
    border-left:7px solid;
    border-image:linear-gradient(180deg, green,red);
    border-image-slice: 2;   
}
footer{
    text-align: center;
}